####################################################################
[ default ]
ca                      = {{ item.name }}
dir                     = {{ searchguard_ca_dir }}/searchguard-ca

####################################################################
[ req ]
default_bits            = 2048
encrypt_key             = yes
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name      = ca_dn
req_extensions          = ca_ext

####################################################################
[ ca_dn ]
{% for ca_dn in item.ca_dn %}
{{ ca_dn.name }} = "{{ ca_dn.value }}"
{% endfor %}

####################################################################
[ ca_ext ]
{% for ca_ext in item.ca_ext %}
{{ ca_ext.name }} = {{ ca_ext.value }}
{% endfor %}

#######################################################################
[ ca ]
default_ca              = {{ item.name|replace('-', '_') }}

#######################################################################
[ {{ item.name|replace('-', '_') }} ]
database                = $dir/db/$ca.index
serial                  = $dir/db/$ca.serial
certificate             = $dir/$ca.crt
private_key             = $dir/private/$ca.key
new_certs_dir           = $dir/certs/
RANDFILE                = $dir/private/random
unique_subject          = no
copy_extensions         = copy
default_days            = 3650
default_md              = sha256
policy                  = policy_match
x509_extensions         = {{ item.x509_extensions }}

#######################################################################
[ policy_match ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = optional
emailAddress            = optional

#######################################################################
[ root_ca_ext ]
basicConstraints        = critical,CA:true
keyUsage                = critical,keyCertSign,cRLSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always

#######################################################################
[ signing_ca_ext ]
basicConstraints        = critical,CA:true,pathlen:0
keyUsage                = critical,keyCertSign,cRLSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always

#######################################################################
[ client_ext ]
keyUsage                = critical,digitalSignature,keyEncipherment
basicConstraints        = CA:false
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always

#######################################################################
[ server_ext ]
keyUsage                = critical,digitalSignature,keyEncipherment
basicConstraints        = CA:false
extendedKeyUsage        = serverAuth,clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always
